body {
	font-family: D2Coding, 'D2 coding', monospace;
    margin: 0;
    touch-action: none;
}
nav {
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 50%;
    cursor: pointer;
}
nav > ul {
    display: flex;
    justify-content: center;
}
.nav_li {
    position: relative;
    list-style: none;
    padding-left: 0;
    margin-right: 3rem;
    font-size: 2rem;
}
.nav_li::after,
.m_nav_li.current::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: crimson;
    bottom: -0.5rem;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom center;
    transition: transform 0.3s ease-in-out
}
.nav_li.clicked::after {
    height: 4px;
}
.nav_li:hover::after,
.nav_li.clicked::after,
.m_nav_li.current::after {
    transform: scaleX(1);
    transform-origin: bottom center;
}
m_nav {
    display: none;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    width: 100%;
}
.carousel {
    display: flex;
    position: relative;
    margin: 3rem auto;
    width: 75vw;
    overflow: hidden;
    justify-content: center;
}
.carousel_container {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.carousel_slide {
    min-width: 100%;
    box-sizing: border-box;
}
.carousel_slide * {
    position: relative;
    width: 75vw;
    height: calc(100vh - 7rem);
}
.profile_header {
    display: flex;
    height: 35vh;
    justify-content: center;
    margin-top: 2.5rem;
}
.profile_circle {
    width: 15rem;
    height: 15rem;
    border-radius: 70%;
    overflow: hidden;
}
.profile_circle > img {
    width: 100%;
    height: 100%;
    border-radius: 70%;
    object-fit: cover;
}
.profile_bold {
    font-size: 1.5rem;
    font-weight: 400;
    width: fit-content;
    line-height: 200%;
    top: 1.5rem;
    left: 3rem;
}
.m_profile_bold {
    display: none;
}
.profile_text {
    text-align: center;
    font-size: 1.8rem;
    line-height: 150%;
}
.hover_type {
    color: transparent;
    display: none;
}
.blink {
    color: black;
    animation: blink_question 2s infinite;
}
.typing {
    color: black;
    display: inline-block;
    overflow: hidden;
    height: auto;
    white-space: nowrap;
    border-right: 2px solid transparent;
    animation: typing 2s steps(30) normal both, 
    blink_caret 1s steps(30) 3;
}
@keyframes blink_question {
    50% { color: transparent; }
}
@keyframes typing {
    from { width: 0; }
    to { width: 65vw; }
}
@keyframes blink_caret {
    from, to { border-color: transparent; }
    50% { border-color: black; }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .nav_li {
        font-size: 1.5rem;
    }
    .profile_header {
        margin-top: 5rem;
    }
    .profile_circle{
        width: 10rem;
        height: 10rem;
    }
    .profile_bold {
        font-size: 1.2rem;
        top: 0.2rem;
        left: 2.5rem;
    }
    .profile_text {
        font-size: 1.3rem;
        line-height: 150%;
    }
}

@media screen and (max-width: 767px) {
    .nav_li {
        font-size: 1.25rem;
    }
    .profile_header {
        margin-top: 5rem;
    }
    .profile_circle{
        width: 7.5rem;
        height: 7.5rem;
    }
    .profile_bold {
        font-size: 0.8rem;
        top: 0.5rem;
        left: 2rem;
    }
    .profile_text {
        font-size: 0.8rem;
        line-height: 150%;
    }
}

@media screen and (max-width: 480px) {
    nav {
        display: none;
    }
    m_nav {
        display: block;
        width: 100%;
        font-size: 0.9rem;
    }
    m_nav > ul {
        display: flex;
        justify-content: space-between;
        padding: 0;
    }
    m_nav > ul > *:nth-child(-n+3) {
        flex-basis: calc(100% / 3);
    }
    .m_nav_li {
        display: none;
        position: relative;
        list-style: none;
        width: calc(100% / 3);
        text-align: center;
    }
    .m_nav_li.current,
    .m_nav_li.prev,
    .m_nav_li.next {
        display: block;
    }
    .m_nav_li.current {
        font-weight: bold;
    }
    .m_nav_li.prev,
    .m_nav_li.next {
        font-size: 0.7rem;
    }
    .m_nav_li.prev {
        text-align: right;
    }
    .m_nav_li.next {
        text-align: left;
    }
    .arrow1 {
        animation: bold_animation 1.5s infinite 0.5s;
    }
    .arrow2 {
        animation: bold_animation 1.5s infinite 1s;
    }
    .arrow3 {
        animation: bold_animation 1.5s infinite 1.5s;
    }
    @keyframes bold_animation {
        0%, 100% {
            font-weight: normal;
        }
        50% {
            font-weight: bold;
            color: crimson;
        }
    }
    .profile_header {
        margin-top: 1.5rem;
        height: fit-content;
    }
    .profile_circle{
        width: 6rem;
        height: 6rem;
        top: 1rem;
    }
    .profile_bold {
        display: none;
    }
    .m_profile_bold {
        display: block;
        font-size: 0.8rem;
        font-weight: 400;
        width: 80vw;
        height: fit-content;
        line-height: 200%;
        text-align: center;
        margin: 3rem 0;
    }
    .profile_text {
        font-size: 0.7rem;
        line-height: 150%;
    }
    .typing {
        white-space: pre-wrap;
    }
}