body {
	font-family: D2Coding, 'D2 coding', monospace;
    margin: 0;
    touch-action: none;
}

nav {
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 100%;
}

nav > ul {
    display: flex;
    justify-content: center;
}

.nav_li {
    position: relative;
    list-style: none;
    padding-left: 0;
    margin-right: 3rem;
    font-size: 2rem;
}

.nav_li::after,
.m_nav_li.current::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: crimson;
    bottom: -0.5rem;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom center;
    transition: transform 0.3s ease-in-out
}

.nav_li.clicked::after {
    height: 4px;
}

.nav_li:hover::after,
.nav_li.clicked::after,
.m_nav_li.current::after {
    transform: scaleX(1);
    transform-origin: bottom center;
}

m_nav {
    display: none;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    width: 100%;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .nav_li {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 767px) {
    .nav_li {
        font-size: 1rem;
    }
}

@media screen and (max-width: 480px) {
    nav {
        display: none;
    }
    m_nav {
        display: block;
        width: 100%;
        font-size: 0.9rem;
    }
    m_nav > ul {
        display: flex;
        justify-content: space-between;
        padding: 0;
    }
    m_nav > ul > *:nth-child(-n+3) {
        flex-basis: calc(100% / 3);
    }

    .m_nav_li {
        display: none;
        position: relative;
        list-style: none;
        width: calc(100% / 3);
        text-align: center;
    }

    .m_nav_li.current,
    .m_nav_li.prev,
    .m_nav_li.next {
        display: block;
    }

    .m_nav_li.current {
        font-weight: bold;
    }
    
    .m_nav_li.prev,
    .m_nav_li.next {
        font-size: 0.7rem;
    }

    .m_nav_li.prev {
        text-align: left;
    }

    .m_nav_li.next {
        text-align: right;
    }

    .arrow1 {
        animation: boldAnimation 1.5s infinite 0.5s;
    }
    .arrow2 {
        animation: boldAnimation 1.5s infinite 1s;
    }
    .arrow3 {
        animation: boldAnimation 1.5s infinite 1.5s;
    }
    
    @keyframes boldAnimation {
        0%, 100% {
            font-weight: normal;
        }
        50% {
            font-weight: bold;
            color: crimson;
        }
    }
}